<mat-sidenav-container fullscreen>

    <mat-sidenav #drawer mode="push">

        <mat-toolbar>
            <span>Manu</span>
            <span class="spacer"></span>
            <button mat-button (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>

        <mat-nav-list>
            <a routerLink="./listado" (click)="drawer.toggle()">
                <mat-list-item>
                    <mat-icon mat-list-icon>label</mat-icon>
                    <span>Listado de heroes</span>
                </mat-list-item>
            </a>
            <a routerLink="./agregar" (click)="drawer.toggle()">
                <mat-list-item>
                    <mat-icon mat-list-icon>add</mat-icon>
                    <span>Añadir heroe</span>
                </mat-list-item>
            </a>
            <a routerLink="./buscar" (click)="drawer.toggle()">
                <mat-list-item>
                    <mat-icon mat-list-icon>search</mat-icon>
                    <span>Buscar de heroes</span>
                </mat-list-item>
            </a>
        </mat-nav-list>

    </mat-sidenav>

    <mat-toolbar>
        <button mat-raised-button color="primary" (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="spacer"></span>
        <button mat-button>
            LogOut
        </button>
    </mat-toolbar>

    <div class="container">
        <router-outlet></router-outlet>
    </div>


</mat-sidenav-container>